@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

@if(User.Identity?.IsAuthenticated == true)
{
        <a href="/Tasks">Go to Tasks Management</a>
}
else {
        <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
}